
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;700&display=swap');


body{
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    line-height: 1.6;
}

*{
    box-sizing: border-box;
}

header{
    background-color: #000;
    padding: 0 20px;
    display: flex;
}

.name{
    background-color: #F18119;
    padding: 2rem 0.3rem 0 0.3rem;
}

.nav{
    position: fixed;
    background: #000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 100%;
    width: 100%;
    transform: translateZ(0);
    transition: transform 250ms;
}

.navigation-open{
    transform:translateX(-100%)
}

.nav-list{
    list-style: none;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    background-color: black;
    margin: 0;
    padding: 1rem;
    height: 100%;
    align-items: center;
    justify-content: space-around;
}

.close-nav{
    background-color: black;
    color: #F18119;
    font-weight: bold;
    font-size: 3rem;
    border: none;
    cursor: pointer;
    padding: .5em;
    position: absolute;
}

.open-nav{
    background-color: black;
    color: #F18119;
    font-weight: bold;
    font-size: 2rem;
    border: none;
    cursor: pointer;
    width: 100px;
    margin-left: auto;
}

li{
    margin-left: 1rem;  
    position: relative;
    font-size: 3rem;
}

a:hover{
    color: #F18119;
}

a{
    text-decoration: none;
    color: white;
}
.current{
    border-bottom: 2px solid #F18119;
    padding-bottom: 3px;
}


.main{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    background-image: url(./img/hero-bg.jpg);
    background-size: cover;
    color: white;
    padding: 4em 0;
}

.main > *{
    grid-column: 2 / -2;
}

.main h2{
    font-size: 1.5rem;
    line-height: 1.4;
    margin-bottom: 0;
}


.btn{
    background-color: #F18119;
    font-size: 14px;
    padding: .5em 1.75em;
    font-weight: 700;
    border: none; 
    cursor: pointer;
    justify-self: flex-start;
    margin-top: .5rem;
}

.info{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
    text-align: center;
    font-size: 18px;
    margin: 3em;
}

.info-box{
    grid-column: 2 / -2;
}

footer{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    background-color: #f0f0f0;
    font-size: 16px;
    grid-template-areas: 
        ". logos ."
        ". main .";
}

footer .footer-main{
    margin: 0 auto;
    text-align: center;
    grid-area: main;
}

footer ul{
    grid-area: logos;
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 3em;
}

footer ul li{
    font-size: 1.5rem;
}

footer ul li i{
    margin:0 2em 0 0;
}

@media (min-width: 600px){
    .main{
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(180px, 320px)) minmax(1em, 1fr);
        padding: 4em 0;
        padding: 8em 0 7em;
    }

    .main > *{
        grid-column: 2 / span 2;
    }

    .info{
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(130px, 320px)) minmax(1em, 1fr);

    }

    .info-box{
        grid-column: span 1;
    }

    .info-box:first-child{
        grid-column: 2 / span 1;
    }

    footer{
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(100px, 320px)) minmax(1em, 1fr); 
        grid-template-areas:
            ". main main logos .";
        padding: 4rem 0;
    }

    footer .footer-main{
        text-align: left;
    }

    .open-nav,
    .close-nav{
        display: none;
    }

    .nav{
        position: inherit;
    }
    .nav-list{
        flex-direction: row;
        justify-content: flex-start;

    }

    li{
        font-size: 1.2rem;
    }

}

.main-secundary{
    display: grid;
    grid-template-columns: minmax(1em, 1fr) minmax(0px, 500px) minmax(1em, 1fr);
    grid-column-gap: 2em;
}

.grid > *{
    grid-column: 2 / -2;
}

.page-title {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 0;
}

.subtitle {
    margin: .5em 0 3em;
    font-size: 1.125rem;
    text-align: center;
}

img {
    max-width: 100%;
}

.section-title {
    font-size: 1.125rem;
    color: #000;
    margin-top: 1.25em;
}

.section-title:first-child {
    margin-top: 0;
}

.main-image {
    margin-bottom: 1.5em;
}

@media (min-width: 600px) {
    .main-secundary{
        grid-template-columns: minmax(1em, 1fr) repeat(3, minmax(130px, 320px)) minmax(1em, 1fr);
    }
    .main-image {
        grid-column: 2;
    }
    
    .main-text {
        grid-column: 3 / span 2;
    }
}

